body{
    margin: 0;
    padding: 0;
    display:flex;
    justify-self: center;
    align-items: center;
    height: 100vh;
    background: #3F5EFB;
    background: radial-gradient(circle, rgba(63, 94, 251, 1) 0%, rgba(252, 70, 107, 1) 100%);
}

#calc{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 45vh;
    width: 21.5rem;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
}

#display{
    width: 100%;
    height: 6rem;
    background-color: #821bcd3d;
    color: #fff;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    border: none;
    margin-bottom: 1rem;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: .5rem;
}

button{
    width: 5rem;
    height: 5rem;
    border-radius:50%;
    border: none;
    background: rgb(98, 122, 243);
    background: radial-gradient(circle,rgb(98, 122, 243) 0%, rgba(252, 70, 107, 1) 100%);
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover{
    background: radial-gradient(circle,rgb(98, 122, 243) 0%, rgba(252, 70, 107, 1) 75%);
}

button:active{
    transform: scale(1.05);
    background: radial-gradient(circle,rgb(98, 122, 243) 0%, rgba(252, 70, 107, 1) 50%);
}

#op{
    background: radial-gradient(circle,rgba(252, 70, 107, 1) 0%, rgba(63, 94, 251, 1) 100%);
}

#op:hover{
    background: radial-gradient(circle,rgba(252, 70, 107, 1) 0%, rgba(63, 94, 251, 1) 75%);
}

#op:active{
    background: radial-gradient(circle,rgba(252, 70, 107, 1) 0%, rgba(63, 94, 251, 1) 50%);
}