body{
    display:flex;
    justify-self: center;
    align-items: center;
    min-height: 100vh;
    background-color: #9321df ;
}

#calc{
    background-color: #fff;
    padding: 1rem;
    border-radius: 1rem;
    min-height: 45vh;
    font-family: Arial, Helvetica, sans-serif;
    overflow:hidden;
}

#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
    padding: .2rem;
}

button{
    width: 3rem;
    height: 3rem;
    border-radius:50%;
    border: none;
    background-color: #200434;
    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;
    cursor: pointer;

}