*{
    margin: 0;
    padding: 0;
}
:root {
    --back-color: #FCF5EE;
    --light-color: #FFC4C4;
    --main-color:#EE6983;
    --dark-color: #850E35;
}
.heading{
    line-height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: var(--dark-color);
}

.count{
    display: flex;   
}

#count{
    padding-left: .3rem;
}